.companyName {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  word-spacing: 4px;
  letter-spacing: 4px;
}

.enableButton {
  background-color: #19c37d;
}

::-webkit-scrollbar {
  width: 20px;
}

.customBorder {
  border: 2px solid darkgray;
}
.selectedOptionBorder {
  border: 1px solid #9333ea;
}