@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: Söhne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ECEAEA;
}

button:focus {
  outline:none !important;
  box-shadow: none !important;
}

.required:after {
  content:" *";
  color: red;
}